// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-color-primary: #005aeb; 
}

:root {
    --ion-color-secondary: #00b4d8; 
  }

:root {
    --ion-color-tertiary: #90e0ef; 
}