// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
//#005aeb

:root {
    --ion-color-primary: #005aeb; 
}

:root {
    --ion-color-secondary: #3399ff; 
  }

:root {
    --ion-color-tertiary: #d8dade; 
}