<ion-header>
  <ion-toolbar color = "secondary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contacts</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input label="First Name" labelPlacement="floating" placeholder = "John"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Last Name" labelPlacement="floating" placeholder = "Doe"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type = "email" label="Email" labelPlacement="floating" placeholder="you@example.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type = "password" label="Password" labelPlacement="floating" placeholder="*********"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type = "password" label="Confirm Password" labelPlacement="floating" placeholder="*********"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type = "tel" label="Telephone" labelPlacement="floating" placeholder="888-888-8888"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Address Information</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input label="Address line 1" labelPlacement="floating" placeholder = "Address line 1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Address line 2" labelPlacement="floating" placeholder = "Address line 2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="House / Apartment Number" labelPlacement="floating" placeholder = "House/apartment Number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Postal Code" type = "number" labelPlacement="floating" placeholder = "Post Code"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Country" labelPlacement="floating" placeholder="Country"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="State" labelPlacement="floating" placeholder="State"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button color= "light" size = "full">Register</ion-button>
</ion-content>
